.app {
    margin: 2rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin: 1rem;
}

.btn-submit {
    padding: 7px 13px;
    border-radius: 3px;
    border: 1px solid #eee;
    background-color: #eee;
    font-size: 1.5rem;
    font-family: inherit;
    margin-top: 5rem;
    margin-left: 38rem;
    outline: none;
}

.btn-submit:hover {
    background-color: rgb(31, 31, 153);
    color: #ffffff;
}

.btn-submit:active {
    background-color: rgb(7, 7, 63);
    /* transform: scale(1.1); */
    
}